@import '../../../../styles.scss';

.technologies {
    padding: 40px 0;

    .home-heading {
        @include respond(tablet) {
            margin-top: 30px;

            h3 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .tabs {
        margin-top: 4.375rem;

        @include respond(mobile) {
            margin-top: 45px;
        }

        ul {
            display: flex;
            list-style: none;
            justify-content: center;

            @include respond(tablet) {
                width: 100%;
                height: 85px;
                overflow-x: scroll;
                white-space: nowrap;
                padding: 10px 0;
                justify-content: unset;
            }

            li {
                a {
                    color: $white;
                    font-size: 16px;
                    padding: 5px 25px;
                    border-radius: 40px;
                    cursor: pointer;
                    background: #a1a1a1;
                    margin: 0 15px;

                    &.active {
                        color: $white;
                        background: $default;
                    }
                }
            }
        }
    }

    .tabs-field {
        margin-top: 3.125rem;
        text-align: center;

        .field-inner {

            // margin-top: 20px;
            .name {
                margin-top: 50px;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 5px;
                }

                h6 {
                    font-size: 17px;
                    font-weight: 600;
                    padding-top: 15px;
                }
            }
        }
    }
}