<div class="technologies">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="home-heading">
                    <h3>Technologies</h3>
                    <p>We work with</p>
                </div>
            </div>

            <div class="col-12">
                <div class="tabs">
                    <ul>
                        <li *ngFor="let tab of data; let i = index">
                            <a [ngClass]="{'active': selectedTab === i}" (click)="onTabChange(i)">{{tab.technologyType}}</a>
                        </li>
                    </ul>
                </div>

                <div class="tabs-field">
                    <div *ngFor="let tab of data; let i = index">
                        <ng-container *ngIf="selectedTab == i">
                            <div class="field-inner">
                                <div class="row justify-content-center">
                    
                                    <div class="col-3 col-md-2 col-lg-2" *ngFor="let item of tab.technology">
                                        <div class="name">
                                            <img src="{{item.image}}">
                                            <h6>{{item.technologyName}}</h6>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>