<div class="projects">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12">
                <div class="head">
                    <h3>Projects | Seperate</h3>
                </div>
            </div>

            <div class="col-12 co-md-9 col-lg-9">
                <form class="row mt-4 ">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Url">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Image">
                        </div>
                    </div>

                    <div class="mt-5 text-center">
                        <a class="border-btn">Post</a>
                    </div>
                </form>
            </div>

            <div class="listing">
                <div class="bar">
                    <div class="row">
                        <div class="col-6">
                            <div class="head">
                                <h3>Projects | Seperate Listing</h3>
                            </div>
                        </div>
    
                        <div class="col-6">
                            <div class="search-container">
                                <form>
                                    <input type="text" placeholder="Search" name="search">
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Url</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of listing, let i = index">
                                <td>{{i}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.url}}</td>
                                <td><img src="{{item.image}}" width="50"></td>
                                <td>
                                    <a class="far fa-edit me-3 text-success"></a>
                                    <a class="fas fa-trash-alt text-danger"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>