<div class="about">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6 order-sm-1 order-md-2 order-lg-2">
                <div class="right">
                    <img src="../../../assets/img/home/about2.gif">
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 order-sm-2 order-md-1 order-lg-1">
                <div class="home-heading">
                    <h3>About</h3>
                    <p>Thrashtect Solution is a software and mobile app development company with a world-class team of talented data scientists, developers, designers, mathematicians, engineers, and creative artists. We are motivated to build elegant and functional digital products that solve complex problems.</p>

                    <div class="bordered-btn-light mt-4">
                        <a routerLink="/about">View More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>