@import './mixins.scss';

.c-btn {
  padding: 10px 15px;
  color: $white;
  border: 0;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  &.blue {
    background: $default;
  }
}

.bordered-btn-light
{
  @include bordered-btn($default, $white);
}

.bordered-btn-dark
{
  @include bordered-btn($default, $lightGray);
}