.c-btn {
  padding: 10px 15px;
  color: $white;
  border: 0;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  &.blue {
    background: $default;
  }
}

.bordered-btn {
  padding: 9px 15px;
  font-size: 14px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  color: $black;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 10px #6060605e;
    transition: 0.5s;
  }
}