$default: linear-gradient(77deg,#090979,#00d4ff);
$greenGradient: linear-gradient(270deg,#76e672 0,#41c83e 100%);

$orange: #fc6d43;
$blue: #090979;
$white: #ffffff;
$black: #000000;
$lightBlack: #1e1f22;
$gray: #78797a;
$darkGray: #78818b;
$tripleC: #f5f3f3;


.bg-blue-gradient {
  background: $default;
}

.bg-green-gradient {
  background: $greenGradient;
}

.text-default {
  background: $default;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
