$default: linear-gradient(90deg, rgba(0,42,255,1) 0%, rgba(146,0,190,1) 100%);

$orange: #fc6d43;
$white: #ffffff;
$black: #000000;
$lightBlack: #1e1f22;
$gray: #78797a;
$darkGray: #78818b;
$tripleC: #f5f3f3;


.bg-blue-gradient {
  background: $default;
}

.text-default {
  background: $default;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
