$blueGradient: linear-gradient(90deg, rgba(68,117,219,1) 0%, rgba(0,0,0,1) 100%);

$orange: #fc6d43;
$white: #ffffff;
$black: #000000;
$lightBlack: #1e1f22;
$gray: #78797a;
$darkGray: #78818b;
$tripleC: #f5f3f3;


.bg-blue-gradient {
  background: $blueGradient;
}

.text-default {
  background: $blueGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
