@mixin scroll-menu($width, $padding, $background, $color) {
  background-color: $background;
  overflow: auto;
  white-space: nowrap;
  .item {
    display: inline-block;
    color: $color;
    text-align: center;
    padding: $padding;
    width: $width;
    &.active {
      border-bottom: 3px solid $color;
    }
  }
}

@mixin typography($fontSize, $fontWeight, $color, $padding) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
  padding: $padding;
}

@mixin chip($fontSize, $color) {
  padding: 3px 6px;
  border-radius: 25px;
  font-size: $fontSize;
  margin: 0 0 0 10px;
  color: $color;
}

@mixin img-object-fit($width, $height, $fit, $position) {
  width: $width;
  height: $height;
  object-fit: $fit;
  object-position: $position;
}

@mixin all-center($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-$top, -$left);
}

// button
@mixin bordered-btn($background, $btnBackground) {
  background: $background;
  width: 120px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  position: relative;
  a {
    background: $btnBackground;
    width: 120px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: $black;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover {
    a {
      box-shadow: 0 0 10px $lightGray;
      padding: 10px;
      top: 5px;
      left: 5px;
    }
  }
}

// responsive mixin
@mixin respond($breakpoint) {
  @if $breakpoint==desktop {
    @media only screen and (max-width: 1920px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
}
