<div class="slider">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-7 col-lg-6">
                <div class="slider-heading">
                    <h1>Talk is cheap. <br> Show me the code!</h1>
                    <p>We are a full-stack web developer.</p>
                    <img src="../../../assets/img/img1.png">
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-6">
                <div class="slider-img">
                    <img src="../../../assets/img/4.png">
                </div>
            </div>

        </div>
    </div>
</div>
