<div class="banner" style="background-image: url(../../../assets/img/extra/overview-banner1.png) ;">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-7">
                <div class="banner-text">
                    <h1>About</h1>
                    <p>Build an engaging app. Integrate AI to work more efficiently. Dive into your data to predict demand. Thrashtect Solution can help you do all this and more with our innovative, client-first services.</p>
                </div>
            </div>

        </div>
    </div>
</div>
