@import '../../../styles.scss';

.banner{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: #4c4c4cc7;
    @include respond(tablet) {
        height: 30vh;
    }
    .banner-text{
        text-align: center;
        color: $white;
        h1{
            font-size: 40px;
            font-weight: 300;
        }
        // p{
        //     padding-top: 10px;
        //     font-size: 14px;
        // }
    }

    .curve {
        position: absolute;
        width: 100%;
        top: 0;
        @include respond(tablet) {
            top: 58px
        }
        @include respond(mobile) {
            top: 11.438rem;
        }
    }
}