<div class="header py-3">
    <div class="container">
        <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="logo">
                    <a routerLink="/home">Thrashtect Solution.</a>
                </div>
            </div>

            <div class="col-9">
                <div class="nav">
                    <ul>
                        <li><a class="text-uppercase" routerLink="/home">Home</a></li>
                        <li><a class="text-uppercase" routerLink="/about">About</a></li>
                        <li><a class="text-uppercase" routerLink="/services">Services</a></li>
                        <li><a class="text-uppercase" routerLink="/projects">Projects</a></li>
                        <li><a class="text-uppercase" routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">
    <ul>
        <li><a (click)="toggleMenu()" routerLink="/home">Home</a></li>
        <li><a (click)="toggleMenu()" routerLink="/about">About</a></li>
        <li><a (click)="toggleMenu()" routerLink="/services">Services</a></li>
        <li><a (click)="toggleMenu()" routerLink="/projects">Projects</a></li>
        <li><a (click)="toggleMenu()" routerLink="/contact">Contact</a></li>

        <div class="bottom-thing">
            <a href="tel:+923310337182"><i class="fas fa-question-circle"></i> Need Help ?</a>
        </div>
    </ul>
</div>

<div class="fade-area" [ngClass]="{'show': fadeSection}" (click)="toggleMenu()"></div>