@import '../../../styles.scss';

.contact {
    padding: 40px 0;

    @include respond(tablet) {
        padding: 3.125rem 0;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .bordered-btn-dark {
        display: block;
        margin: auto;
    }
}