@import '../../../styles.scss';

.contact {
    padding: 40px 0;

    @include respond(tablet) {
        padding: 3.125rem 0;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .bordered-btn-dark {
        display: block;
        margin: auto;
    }

    .plain-card {
        text-align: center;

        h5 {
            font-size: 17px;
            font-weight: 600;
            color: $black;
        }

        p {
            font-size: 14px;
            padding-top: 3px;
        }
    }
}