<app-banner-image [item]="data"></app-banner-image>


<div class="contact">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 col-lg-10">
                <form class="row mt-5">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="name" class="form-control" placeholder="Name">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="Message" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="bordered-btn-dark mt-4">
                        <a href="#">Send Message</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>