<div class="testimonial">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="home-heading">
                    <h3>Testimonials</h3>
                </div>
            </div>
        </div>

        <div class="testimonies-inner">
            <div class="row">

                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                    (init)="slickInit($event)">
                    <div class="me-2" ngxSlickItem *ngFor="let slide of testimonial" class="slide">
                        <div class="admin-card">
                            <p class="testimonies-text">{{slide.text}}</p>
                            <div class="inner">
                                <div class="row">
                                    <div class="col-2">
                                        <img src={{slide.image}}>
                                    </div>
    
                                    <div class="col-10">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <h6>{{slide.name}}</h6>
                                        <p class="name">{{slide.job}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>

            </div>
        </div>
    </div>
</div>