<div class="terms">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="home-heading">
                    <h3>Terms & Conditions</h3>
                </div>

                <div class="terms-text">
                    <p>This Terms of Use outlines the user policy of Thrashtect Solution, its services and liabilities
                        involving the use of our services and products. By registering for any of our services, you
                        agree that you have read and accepted all the terms and conditions outlined in this document.
                    </p>

                    <h4 class="pt-4">Coverage & scope</h4>
                    <p>This Terms of Use covers the treatment of use of services and products Thrashtect Solution and/or 
                        a website owned and operated by Thrashtect Solution.</p>

                    <p>This document is not applicable to companies that Thrashtect Solution has no ownership of or does
                        not control, or of persons that are not under the employment and management of Thrashtect Solution, 
                        including any third-party service and/or product providers bound by contract and any third-party 
                        websites to which Thrashtect Solution' website links.</p>

                    <h4 class="pt-4">Filing a complaint</h4>
                    <p>In case of filing a complaint, Thrashtect Solution will try and come to a mutually acceptable
                        solution if a user is unsatisfied with any of our services. Revocation occurs when things don’t
                        work out. If You think about filing a claim, please write to us before launching a request.</p>
                    
                    <p>You should only file complaints if we are unable to affect a mutually satisfactory solution.</p>

                    <h4 class="pt-4">Eligibility for refund</h4>
                    <p>We handle every project in a professional manner to ensure that the client is delivered what was 
                        mentioned as per the terms and conditions of the proposal. However, if the client has gone through 
                        the dispute resolution process, refund claims will be considered as per the following schedule 
                        which clearly lists the services and our Terms of Use related to each service.</p>

                    <h4 class="pt-4">Application programming</h4>
                    <p>We will offer a full refund if, for some reason, the project has not been initiated. An agreement 
                        is drafted for every application programming project. In case no agreement has been devised and/or 
                        there is no mention of a Terms of Use, we will apply the following delivery policy:</p>

                    <p>Thrashtect Solution will issue a partial refund upon the discretion of the service provider if the 
                        project does not get finalized as mentioned in the delivery policy and contract. The proportion 
                        of the project completed will be calculated by Thrashtect Solution and the proportion that is not 
                        complete will be treated as per the pre-defined scope of the project.</p>

                    <h4 class="pt-4">Dedicated hiring</h4>
                    <p>Thrashtect Solution offers a full refund if there is a delay in starting the project by either the
                        programmer / designer / content writer / SEO expert (or any other resource / staff).</p>

                    <p>We will offer a proportionate refund if the client cancels the project at any point in time.</p>

                    <p>We offer no refund for days worked. If the client is not satisfied with the work at any point in 
                        time, they must immediately notify our Project Manager and ask for discounts for any work not carried 
                        out. We will not accept any such negotiation at a later date.</p>

                    <h4 class="pt-4">Applicability of the delivery policy</h4>
                    <p>Timely payments: A project is not considered to be void if the agreed upon / listed payments are 
                        not clear.</p>

                    <p>Timely communication from the client: Thrashtect Solution is not bound by the Terms of Use. The client
                        must provide timely information for successful completion of the project. Cubix will not accept any 
                        responsibility for the delay or failure of completing the project arising out of miscommunication or 
                        lack of communication in a timely manner.</p>

                    <p>Completeness of information provided by the client: Thrashtect Solution is not obligated to respect 
                        its delivery and/or refund commitments if the client fails to provide complete information/scope 
                        of the project to Cubix at initializing stage of the project.</p>

                    <p>Thrashtect Solution will only compensate for the delay of delivery, unless there is a special agreement 
                        signed with a penalty clause for delay in delivery.</p>

                    <h4 class="pt-4">Limitation of liability</h4>
                    <p>Thrashtect Solution liability is limited in as much to the value of the portion of the project (as per 
                        Thrashtect Solution' proposal) which may be incomplete at any given point of time. Thrashtect Solution will 
                        not be held responsible for losses arising out of the services delivered / not delivered or the delay in 
                        the same. Thrashtect Solution is only liable to refund if the client cancels the project, and as such, 
                        the cancellation has been communicated to Thrashtect Solution in writing.</p>

                    <h4 class="pt-4">Processing of refunds</h4>
                    <p>Thrashtect Solution will process the refunds and mail the same within 5 business days of the cancellation 
                        date. The same method of payment will be required as the original (refund by check or refund to credit card).</p>
                </div>
            </div>

        </div>
    </div>
</div>