<div class="projects">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12">
                <div class="head">
                    <h3>Projects | Seperate</h3>
                </div>
            </div>

            <div class="col-12 co-md-9 col-lg-9">
                <form class="row mt-4 ">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Url">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Image">
                        </div>
                    </div>

                    <div class="mt-5 text-center">
                        <a class="border-btn">Post</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>