@import '../../../styles.scss';

.services {
    padding: 30px 0;

    .home-heading {
        text-align: center;

        h6 {
            font-size: 16px;
            font-weight: 600;
            color: $orange;

            span {
                color: $black;
                padding: 0 5px;
            }
        }

        h3 {
            padding-top: 20px;
        }

        p {
            @include respond(mobile) {
                font-size: 16px;
            }
        }
    }

    .inner {
        margin-top: 30px;

        .admin-card {
            margin-top: 30px;
            text-align: center;
            width: 100%;
            height: auto;
            color: $white;
            background: linear-gradient(90deg, rgba(0, 42, 255, 1) 0%, rgba(146, 0, 190, 1) 100%);

            @include respond(mobile) {
                height: 150px;
            }

            h2 {
                font-size: 50px;
                font-weight: 700;
            }

            p {
                font-size: 16px;
                padding-top: 10px;

                @include respond(mobile) {
                    font-size: 15px;
                }
            }
        }
    }

    .main-details {
        padding-top: 4.375rem;

        .left {

            span {
                font-size: 50px;
                font-weight: 800;
                color: $lightGray;
            }

            h3 {
                font-size: 35px;
                font-weight: 600;
                color: $black;
            }

            p {
                font-size: 16px;
                padding-top: 5px;
                color: $gray;
            }

            ul {
                margin-top: 20px;
                padding-left: 0;
                list-style: none;

                li {
                    font-size: 16px;
                    font-weight: 600;
                    padding-top: 6px;
                    color: $black;
                }
            }
        }

        .right {
            margin-top: 20px;

            img {
                width: 100%;
                height: auto;
                border-radius: 40px 5px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}