<app-slider></app-slider>

<app-about></app-about>

<!-- services -->
<section>
    <div class="services">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8 col-lg-7">
                    <div class="home-heading">
                        <h3>Our Services</h3>
                        <p>Build an engaging app. Integrate AI to work more efficiently. Dive into your data to predict demand. Thrashtect Solution can help you do all this and more with our innovative, client-first services.</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="inner">
                        <div class="row">

                            <div class="col-6 col-md-4 col-lg-3" *ngFor="let item of services">
                                <div class="admin-card">
                                    <img src="{{item.image}}">
                                    <h4>{{item.name}}</h4>
                                </div>
                            </div>

                            <div class="btn-services mt-5 text-center">
                                <div class="bordered-btn-dark">
                                    <a routerLink="/services">View More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- projects -->
<section>
    <div class="projects">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8 col-lg-7">
                    <div class="home-heading">
                        <h3>Projects</h3>
                        <p>We help our clients grow with cutting-edging technologies, extravagant designs, and
                            innovative software solutions.</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="inner">
                        <div class="row">

                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                                (init)="slickInit($event)">
                                <div class="me-2" ngxSlickItem *ngFor="let slide of projects" class="slide">
                                    <div class="admin-card">
                                        <img src="{{ slide.image }}" class="image" alt="" width="100%">

                                        <div class="middle">
                                            <a href="{{slide.link}}" class="name">{{slide.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>

                            <div class="btn-projects mt-5 text-center">
                                <a routerLink="/projects" class="bordered-btn">See All</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- technologies -->
<section>
    <div class="technologies">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="home-heading">
                        <h3>Technologies</h3>
                    </div>
                </div>

                <div class="col-12">
                    <div class="tabs">
                        <ul>
                            <li *ngFor="let tab of tabs; let i = index">
                                <a [ngClass]="{'active': selectedTab === i}"
                                    (click)="onTabChange(i)">{{tab}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tabs-field">
                        <div *ngIf="selectedTab == 0">
                            <div class="field-inner">
                                <div class="row justify-content-center">

                                    <div class="col-3 col-md-2 col-lg-2" *ngFor="let item of mobiles">
                                        <div class="name">
                                            <img src="{{item.image}}">
                                            <h6>{{item.name}}</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab == 1">
                            <div class="field-inner">
                                <div class="row justify-content-center">

                                    <div class="col-3 col-md-2 col-lg-2" *ngFor="let item of frontends">
                                        <div class="name">
                                            <img src="{{item.image}}">
                                            <h6>{{item.name}}</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab == 2">
                            <div class="field-inner">
                                <div class="row justify-content-center">

                                    <div class="col-3 col-md-2 col-lg-2" *ngFor="let item of databases">
                                        <div class="name">
                                            <img src="{{item.image}}">
                                            <h6>{{item.name}}</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab == 3">
                            <div class="field-inner">
                                <div class="row justify-content-center">

                                    <div class="col-3 col-md-2 col-lg-2" *ngFor="let item of backend">
                                        <div class="name">
                                            <img src="{{item.image}}">
                                            <h6>{{item.name}}</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab == 4">
                            <div class="field-inner">
                                <div class="row justify-content-center">

                                    <div class="col-3 col-md-2 col-lg-2" *ngFor="let item of cms">
                                        <div class="name">
                                            <img src="{{item.image}}">
                                            <h6>{{item.name}}</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab == 5">
                            <div class="field-inner">
                                <div class="row justify-content-center">

                                    <div class="col-3 col-md-2 col-lg-2" *ngFor="let item of infradevOps">
                                        <div class="name">
                                            <img src="{{item.image}}">
                                            <h6>{{item.name}}</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- bar -->
<section>
    <div class="bar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of bar">
                    <div class="bar-inner">
                        <div class="row">
                            <div class="col-5 col-md-3 col-lg-4">
                                <i class={{item.icon}}></i>
                            </div>

                            <div class="col-7 col-md-9 col-lg-8">
                                <h6>{{item.number}}</h6>
                                <p>{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>