@import '../../../styles.scss';

// about
.about {
    background-color: #f7f7f7;
    padding: 40px 0;

    @include respond(mobile) {
        padding: 20px 0 40px 0px;
    }

    .home-heading {
        margin-top: 3.125rem;

        @include respond(tablet) {
            margin-top: 30px;

            h3 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .right {
        @include respond(tablet) {
            margin-top: 30px;
        }

        img {
            width: 50%;
            height: auto;
            display: block;
            margin: auto;
            object-fit: cover;
            object-position: center;

            @include respond(tablet) {
                width: 70%;
            }

            @include respond(tablet) {
                width: 60%;
            }
        }
    }
}

// services
.services {
    padding: 40px 0;

    .home-heading {
        @include respond(tablet) {
            margin-top: 30px;

            h3 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .inner {
        margin-top: 3.125rem;

        .admin-card {
            margin-top: 30px;
            text-align: center;
            width: 100%;
            height: auto;
            color: $white;
            background: linear-gradient(90deg, rgba(0, 42, 255, 1) 0%, rgba(146, 0, 190, 1) 100%);
            transition: transform .5s;

            &:hover {
                ms-transform: scale(1.5);
                /* IE 9 */
                -webkit-transform: scale(1.5);
                /* Safari 3-8 */
                transform: scale(1.1);
            }

            img {
                width: 60px;
                height: auto;
            }

            h4 {
                font-size: 15px;
                padding-top: 20px;
            }
        }
    }
}

// projects
.projects {
    background-color: #f7f7f7;
    padding: 40px 0;

    .home-heading {
        @include respond(tablet) {
            h3 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .inner {
        margin-top: 30px;

        .admin-card {
            position: relative;
            width: 100%;
            margin-top: 20px;
            padding: 0px;

            img {
                object-fit: cover;
                object-position: center;
                border-radius: 5px;

                &.image {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: 250px;
                    transition: .5s ease;
                    backface-visibility: hidden;
                }
            }

            .middle {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }

            &:hover .image {
                opacity: 0.3;
            }

            &:hover .middle {
                opacity: 1;
            }

            .name {
                background-color: $orange;
                color: $white;
                font-size: 13px;
                padding: 8px 25px;
                cursor: pointer;
                border-radius: 30px;
            }
        }
    }
}

// technologies
.technologies {
    padding: 40px 0;

    .home-heading {
        @include respond(tablet) {
            h3 {
                font-size: 30px;
            }
        }
    }

    .tabs {
        margin-top: 4.375rem;

        @include respond(mobile) {
            margin-top: 45px;
        }

        ul {
            display: flex;
            list-style: none;
            justify-content: center;

            @include respond(tablet) {
                width: 100%;
                height: 85px;
                overflow-x: scroll;
                white-space: nowrap;
                padding: 10px 0;
            }

            li {
                a {
                    color: $white;
                    font-size: 16px;
                    padding: 5px 25px;
                    border-radius: 40px;
                    cursor: pointer;
                    background: #a1a1a1;
                    margin: 0 15px;

                    &.active {
                        color: $white;
                        background: $default;
                    }
                }
            }
        }
    }

    .tabs-field {
        margin-top: 3.125rem;
        text-align: center;

        .field-inner {

            // margin-top: 20px;
            .name {
                margin-top: 50px;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 5px;
                }

                h6 {
                    font-size: 17px;
                    font-weight: 600;
                    padding-top: 15px;
                }
            }
        }
    }
}

// bar
.bar {
    background-image: url("../../../assets/img/home/project1.jpg");
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: #222222;

    @include respond(tablet) {
        height: 30vh;
        justify-content: center;
        align-items: center;
    }

    @include respond(mobile) {
        height: 50vh;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    @include respond(mobileS) {
        height: 55vh;
    }

    .bar-inner {
        @include respond(tablet) {
            padding: 15px 0;
        }

        i {
            background: linear-gradient(90deg, rgba(0, 42, 255, 1) 0%, rgba(146, 0, 190, 1) 100%);
            padding: 12px;
            font-size: 30px;
            border-radius: 5px;
            color: $white;

            @include respond(mobile) {
                float: right;
            }
        }

        h6 {
            font-size: 25px;
            color: $white;
            font-weight: 600;
        }

        p {
            font-size: 15px;
            color: $white;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}