@import '../../../../styles.scss';

.companies {
    padding: 40px 0;
    .home-heading {
        @include respond(tablet) {
            margin-top: 30px;

            h3 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .inner {
        margin-top: 20px;
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            margin-top: 30px;
            object-fit: contain;
            object-position: center;
        }
    }
}